 .u-section-1 {
  background-image: linear-gradient(to right, #e13690, #f97e83);
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-shape-1 {
  width: 930px;
  height: 402px;
  background-image: linear-gradient(#fcb7ba, #edbcee);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 388px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(#fcb7ba, #4a154b);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -730px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 552px;
  width: 858px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -140px auto 0 94px;
}

.u-section-1 .u-group-1 {
  width: 592px;
  min-height: 334px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
  height: auto;
  margin: -115px 75px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 2px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 748px;
    height: 409px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -737px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 82px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    height: 398px;
    width: 638px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 467px;
    margin: -54px auto 42px 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-1 .u-shape-1 {
    height: 327px;
    margin-top: 347px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 199px;
    height: 199px;
    margin-top: -614px;
  }

  .u-section-1 .u-image-1 {
    height: 303px;
    width: 469px;
    margin-top: -130px;
  }

  .u-section-1 .u-group-1 {
    width: 469px;
    min-height: 487px;
    margin: 44px 0 60px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-1 .u-shape-1 {
    height: 89px;
    margin-top: 54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-2 {
    width: 138px;
    height: 138px;
    margin-top: -287px;
  }

  .u-section-1 .u-image-1 {
    height: 193px;
    width: 287px;
    margin-top: -91px;
  }

  .u-section-1 .u-group-1 {
    min-height: 523px;
    margin-top: 82px;
    margin-bottom: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #e13690, #f97e83);
}

.u-section-2 .u-sheet-1 {
  min-height: 933px;
}

.u-section-2 .u-text-1 {
  width: 782px;
  margin: 90px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 523px;
  grid-gap: 15px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-text-11 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-2 .u-text-14 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-16 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-2 .u-text-17 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -48px 0 0 107px;
}

.u-section-2 .u-text-19 {
  font-style: italic;
  font-weight: 500;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 431px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-8 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-11 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-14 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-17 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: -41px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 45px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 755px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 586px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 387px;
  grid-gap: 30px;
}

.u-section-3 .u-image-1 {
  background-image: url("../images/46c4bb3d-c46b-8792-6fa7-a8099501f9e4.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  background-image: url("../images/867d5c5e-264f-ba2a-9890-d0e837b58c8b.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  background-image: url("../images/66.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-image-4 {
  background-image: url("../images/fa697d4c-bbff-e31e-390c-05d828d2138f.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-3 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 23px rgba(0,0,0,0.35);
  margin: 0;
}

.u-section-3 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 92px;
  font-size: 2.25rem;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 370px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.0625rem;
    margin-top: 15px;
  }

  .u-section-3 .u-text-3 {
    font-size: 4.0625rem;
    margin-top: 15px;
  }

  .u-section-3 .u-text-5 {
    font-size: 4.0625rem;
    margin-top: 15px;
  }

  .u-section-3 .u-text-7 {
    font-size: 4.0625rem;
    margin-top: 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
  }
}